{% extends "pages/base.html" %}
{% block style %}
    .post {
        height: 500px;
        border: 1px solid #d3d3d3;
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
        background-color: #f1f1f1;
    }
{% endblock  %}
{% block content %}
    <h3> {{ group.name }} </h3>
    <h6> {{ group.date }} </h6>
    {% if display %}
        {% for post in Posts %}
            <div class="post">
                <div> 
                    <p> {{post.content|safe|linebreaks}}</p>
                    <img src="/media/{{post.image}}" alt="" style="width: 100%"/>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <form method="POST">
            {% csrf_token %}
            {% for key, value in joinGroup.errors.item %}
                {{value}}
            {% endfor %}'
            {{joinGroup}}
            <input type="submit" value="join">
        </form>
    {% endif %}
{% endblock  %}